.dark {
    background-color: #282828;
    color: rgba(255,255,255,.87);

    .header {
        background-color: #2c2c2c;
    }

    &.contrast .header {
        background-color: #111111;
    }

    &.contrast .body {
        background-color: #181818;
        color: rgba(255,255,255,.8);
    }
}

.light {
    color: #000;
    background: #fbfbfb;
}