.timeline-item {
    max-width: 472px;

    &.header {
        padding: 13px 20px;

        .hbar {
            height: 5px;
        }
    }

    &.message {
        padding: 20px 24px;

        .hbar {
            height: 8px;
        }
    }

    .background-mask {
        .light & {
            background-color: #f9f9f9;
        }
    
        .dark & {
            background-color: #5a5a5a;
        }
    
        &.block {
            flex: 1;
        }
    }
    
    .avatar {
        width: 35px;
        height: 35px;
    }
    .gap {
        width: 5px;
    
        &.vbar {
            width: 8px;
        }
    }
    .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    .shadowblock-hbox {
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
    }
    
    .shadowblock-vbox {
        flex-direction: column;
        display: flex;
    }
    
    .shadowblock-body {
        flex: 1;
    }
    
    .shadowbar {
        height: 12px;
        display: flex;
        flex-direction: row;
    
        &.thick {
            height: 18px;
        }
    }

    .animated-background {
        -webkit-animation-duration: 1.75s;
        animation-duration: 1.75s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: placeHolderShimmer;
        animation-name: placeHolderShimmer;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        background: -webkit-gradient(linear, left top, right top, color-stop(8%, #ddd), color-stop(18%, #ccc), color-stop(33%, #ddd));
        background: -webkit-linear-gradient(left, #ddd 8%, #ccc 18%, #ddd 33%);
        background: linear-gradient(to right, #ddd 8%, #ccc 18%, #ddd 33%);
        -webkit-background-size: 800px 104px;
        background-size: 800px 104px;
        position: relative;

        .dark & {
            background: -webkit-gradient(linear, left top, right top, color-stop(8%, #ddd), color-stop(18%, #eee), color-stop(33%, #ddd));
            background: -webkit-linear-gradient(left, #ddd 8%, #eee 18%, #ddd 33%);
            background: linear-gradient(to right, #ddd 8%, #eee 18%, #ddd 33%);
        }
    }

}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}




