.symphonyicon {
    .square {
        stroke: none;
        stroke-width: 1;
        fill: none;
        fill-rule: evenodd;
        opacity: 0.867527174;

        .dark & {
            stroke: #fff;
        }
    }
}